<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <h1 class="col-12 col-lg-6 justify-content-center">Hallo {{username}}!</h1>
</div>

<div class="row justify-content-center content">
  @if (rollen.includes('ADMIN') || rollen.includes('LOTUSPLAN')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/lotusplan">
        <mat-icon class="material-icons-outlined">dashboard</mat-icon>
        <mat-card-footer>Lotusplan</mat-card-footer>
      </mat-card>
    </div>
  }
  @if (rollen.includes('ADMIN') || rollen.includes('REFLEXION')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/reflexion">
        <mat-icon class="material-icons-outlined">description</mat-icon>
        <mat-card-footer>Reflexion</mat-card-footer>
      </mat-card>
    </div>
  }
  @if (rollen.includes('ADMIN') || rollen.includes('WOCHENPLAN')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/wochenplan">
        <mat-icon class="material-icons-outlined">event</mat-icon>
        <mat-card-footer>Wochenplan</mat-card-footer>
      </mat-card>
    </div>
  }
  @if (rollen.includes('ADMIN') || rollen.includes('ENTWICKLUNGGESPRAECH')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/entwicklungsgespraech">
        <mat-icon class="material-icons-outlined">trending_up</mat-icon>
        <mat-card-footer>Entwicklungsgespräch</mat-card-footer>
      </mat-card>
    </div>
  }
  <!-- Zur Zeit nicht notwendig, als letztes entwickeln -->
  <!-- @if (rollen.includes('ADMIN') || rollen.includes('LERNGESCHICHTE')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/lerngeschichte">
        <mat-icon class="material-icons-outlined">history_edu</mat-icon>
        <mat-card-footer>Lerngeschichte</mat-card-footer>
      </mat-card>
    </div>
  } --> 
  @if (rollen.includes('ADMIN') || rollen.includes('UNVERTRAEGLICHKEITEN')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/unvertraeglichkeiten">
        <mat-icon class="material-icons-outlined">no_food</mat-icon>
        <mat-card-footer>Unverträglichkeiten</mat-card-footer>
      </mat-card>
    </div>
  }
  @if (rollen.includes('ADMIN') || rollen.includes('SETUP')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/setup">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        <mat-card-footer>Einstellungen</mat-card-footer>
      </mat-card>
    </div>
  }
  @if (rollen.includes('ADMIN')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/benutzer" class="bg-admin">
        <mat-icon class="material-icons-outlined">supervisor_account</mat-icon>
        <mat-card-footer>Benutzerverwaltung</mat-card-footer>
      </mat-card>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/konfiguration" class="bg-admin">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        <mat-card-footer>Konfiguration</mat-card-footer>
      </mat-card>
    </div>
  }
</div>